@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}


/* NAVIGATION */

aside {
    background-color: #7BCCFF;
    padding: 5% 2%;
    display: grid;
    grid-template-columns: auto 1.5rem;
}

figure {
    width: auto;
}

figcaption {
    font-weight: bold;
    text-align-last: center;
}

#menu-icon {
    width: 1.5rem;
    cursor: pointer;
}

.avatar {
    visibility: hidden;
}

nav {
    background-color: white;
}

.active {
    background-color: white;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

ul {
    display: none;
    list-style-type: none;
    margin: 0;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    display: block;
    padding: 5rem 3rem 1.5rem 3rem;
}

#social-media-links {
    display: none;
}


/* --- MAIN SECTION --- */

main h1 {
    display: none;
}


/* --- PROJECTS SECTION --- */

#porfolio-title {
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}


/* --- PROJECT CARDS --- */

.project {
    background-color: #9CC3D5FF;
    color: #0063B2FF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    width: 95%;
    display: block;
    margin: auto;
}

.project-header p {
    text-align: center;
    margin: 0.5rem 0;
}

.project-details {
    text-align: center;
    background-color: #0063B2FF;
    color: #9CC3D5FF;
}

.project-details h2 {
    /* background-color: pink; */
    padding: 0.5rem 0;
}

.project-details p {
    font-weight: 100;
    padding: 0.3rem 5% 1rem 5%;
}


/* --- FOOTER GRID --- */

.project-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0.4rem 0;
}

.project-githib {
    grid-column: 1 1;
    display: block;
    margin: auto;
    /* cursor: pointer; */
}

.project-host {
    grid-column: 2 2;
    display: block;
    margin: auto;
    cursor: pointer;
}